.solution {
    height: 900px;
    margin-top: 20px;
}

.section-title h5 {

    text-align: center;

}
@media (max-width: 1000px) {
    .solution {
      height: auto;
    }
}

.image-details {
    margin: 15px;

    box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    cursor: pointer;
    border-radius: 10px;
}

.image-details:hover {
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    transition-duration: 1s;
    cursor: pointer;
    border-bottom: 3px solid purple;
}

.image-content {
    padding: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}